<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Favicon links -->
    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="hero">
            <h2>About Us</h2>
            <p>Find out who we are!</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about-us">About Us</a></li>
                <li><a href="check-symptoms">Check Symptoms</a></li>
                <li><a href="disease-info">Diseases</a></li>
                <li><a href="about-our-ai-tool">About The Tool</a></li>
                <li><a href="contact-us">Contact Us</a></li>
                <li><a href="faq">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <section id="about-us">
        <h2>About Us</h2>
        <p>
            Our project is a cutting-edge initiative aimed at revolutionizing healthcare accessibility and efficiency through artificial intelligence. 
            This tool empowers individuals to check symptoms and receive predictions for possible diseases with just a few clicks. 
            By integrating advanced machine learning algorithms and a weighted analysis model, the platform provides accurate and reliable results while 
            considering the severity of symptoms and other key factors. Our mission is to bridge the gap between technology and healthcare, enabling users 
            to make informed decisions and seek timely medical care.
        
        <h2>Our Mission</h2>
        <p>We aim to ensure quality healthcare services are accessible to everyone in India, leveraging modern technology to improve public health.</p>
        
        <h3>Our Team</h3>
        <p>Meet our team of dedicated professionals working tirelessly to improve public health.</p>
        <div class="team-member">
            <h4>Professor Jayendra Jadhav</h4>
            <h4>Merwin Pinto</h4>
            <h4>Diya Oswal</h4>
            <h4>Vidal Shah</h4>
            <h4>Aiviya Oswal</h4>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Artificial Intelligence Department, Vishwakarma University</p>
    </footer>
</body>
</html>
